
.UsrImg {
  
  text-align: center;
  border-radius: 50%;
  max-width: 60px;
  padding-top: 10px;
}

/* .primary-button {

  
} */


.Card {
    padding-bottom: 20px;
    text-align: center; 
    background-color: lightgray;
}

.homeCard {
  display: flex;
  flex-direction: row;
  border: 2px solid lightgrey;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 10px;
  
  border-radius: 4px;
}


.Search {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-right: 10px;
  width: max-content ;
  height: fit-content;
  z-index: 99;
  }

  .GistCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
    min-width: 500px;
    width :84%;
    margin-left: 8%;
    margin-right: 8%;
    padding-right: 20px;
    padding-top: 5px;
    border-style: groove;
    border-width: 1px;
     background-color:#c2cad3;
   }


.homeUsrImg {
  text-align: center;
  border-radius: 50%;
  max-width: 50px;
  
}
  .homeGistCard {
    display: flex; flex-direction: row;

    padding-top: 10px;
    padding-left: 10px;
    border-style: groove;
    border-width: 1px;
    background-color: hsl(208, 25%, 73%);
  }
  
  .gistCardAlign  {
    margin-left: 40px;
    margin-right: 40px;
    Display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit , minmax(310px, 1fr)); 
   } 
  
    .UserCard  {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    Display: inline-grid;
    grid-gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(200px,1fr));
    }
    
   .homeUserCard  {
    Display: grid;
    grid-gap: 20px;
    text-align: center;
    margin: 0px 60px 0px 60px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)) ; 
   } 
  

   .divHideScroll::-webkit-scrollbar {
    width: 0 !important
}
.divHideScroll {
  height: 86vh;
    overflow: scroll;
}


.ul1-suggest {
  display: block;
  margin: 0;
  list-style-type: none;
  background-color: #d3dbd5;
  z-index: 999;
  padding: 5px 10px 5px 10px;

}
.ul2-suggest {
  display: block;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  list-style-type: none;
  background-color: #d3dbd5;
  z-index: 999;
  padding: 0 10px 5px 10px;

}